body
	{font-family: 'Muli';
	color: white;
	text-align: center;}

.home {
	position: relative;
  height: auto;
  background-color: #19A5BA;
  background-image: linear-gradient(to right, #19A5BA, #4F1AE6); 
}

.background-image {
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .65
}

h1
	{
		text-align: center;
	  	width: 600px;
	  	display: block;
	  	/*font-family: 'Lato';*/
		color: white;
		font-size: 60px;
	  	margin: 0 auto;
	  	text-transform: uppercase;
	  	letter-spacing: 15px;
	  	/*text-shadow: 4px 4px 4px black;*/
	  	margin-top: 100px;
	  	margin-bottom: 50px;
	 }

p
	{
		text-align: center;
	  	/*width: 600px;*/
	  	display: block;
		color: white;
		font-size: 16px;
	  	margin: 0 auto;
	  	position: center;
	  	/*padding: 30px;*/
  	}

nav
 	{
 		text-align: center;
 		color: white;
 		font-size: 16px;
 		text-decoration: none;
 		padding: 20px;
 	}

button 
 	{
		background-color: black;
		width: 150px;
		display: block;
		padding: 5px 0;
		text-align: center;
		text-decoration: none;
		border: 5px solid black;
		text-transform: uppercase;
		margin: 0 auto;
		color: white;
  	}

ul li 
 	{
		display: inline-block;
		text-align: center;
		padding: 0;
	}


ul {
		margin: 0 auto;
 		text-align: center;
 		color: white;
 		font-size: 15px;
	} 

a
	{
		text-decoration: none;
		color: white;
	}


footer
/*	{
		text-align: center;}
	}*/

img {border: black 2px solid;
		width: 350px;
		height: 175px}


/*CONTACT*/
form, input, textarea {
	display: block;
	margin: 1em;
	font-size: 1em
}

form {
	margin: 0 auto;
	width: 210px;
}

.contact {
	color: black;
}

.contact-header {
	font-size: 3.5em;
	color: black;
	margin-top: 50px;
}
